<app-header title="Réinitialiser le mot de passe"></app-header>

<ion-content class="ion-padding">
  <h2>Réinitialiser le mot de passe</h2>
  @if(step === 1) {
    <p>Entrez votre adresse e-mail pour recevoir les instructions de réinitialisation du mot de passe.</p>
    <div [formGroup]="form">
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" type="email" formControlName="email" [clearInput]="true" ></ion-input>
      </ion-item>

      <div style="display: flex; justify-content: center; margin-top: 20px;">
        <ion-button (click)="resetpassword()">Réinitialiser le mot de passe</ion-button>
      </div>
    </div>
  }@else {
    <p>Entrez votre nouveau mot de passe ci-dessous.</p>
    <form [formGroup]="passwordResetForm">
      <ion-item>
        <ion-input label="Password" labelPlacement="floating" type="password" formControlName="password" [clearInput]="true" >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Confirm Password" labelPlacement="floating" type="password" formControlName="confirm" [clearInput]="true" >
        </ion-input>
      </ion-item>

      <div style="display: flex; justify-content: center; margin-top: 20px;">
        <ion-button (click)="back()">Retour</ion-button>
        <ion-button (click)="savenewpassword()">Enregistrer le nouveau mot de passe</ion-button>
      </div>
    </form>
  }


</ion-content>


