<app-header title="Accueil" ></app-header>

<ion-content class="ion-padding">
  <h2>Bienvenue v11 👋</h2>
  <div>
    <ion-button routerLink="/dashboard">Dashboard</ion-button>
    <ion-button routerLink="/settings">Réglages</ion-button>
    <ion-button routerLink="/login">Login</ion-button>
    <ion-button routerLink="/register">Inscription</ion-button>
    <ion-button routerLink="/logout">Déconnexion</ion-button>
    <ion-button routerLink="/reset_password">Réinitialisation</ion-button>


  </div>
</ion-content>




